<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206118028673-8demckeu4h6fdst2pgo545oedgvpruba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206118028673-8demckeu4h6fdst2pgo545oedgvpruba</string>
	<key>API_KEY</key>
	<string>AIzaSyBsvYIUdQvQoJ2WuWqhvGijvnrUMAKrF18</string>
	<key>GCM_SENDER_ID</key>
	<string>206118028673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MultyGame.MultyGameProject</string>
	<key>PROJECT_ID</key>
	<string>multygame-7398f</string>
	<key>STORAGE_BUCKET</key>
	<string>multygame-7398f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206118028673:ios:fc413552685d210b919480</string>
</dict>
</plist>